# Versioning and metadata
.git
.gitignore
.dockerignore

# Build dependencies
dist
node_modules
coverage

# dotenv environment variable files
**/*.env

# Temp directory
.temp
.tmp

# Bind mounts
.minio_data
.pgdata
.rddata
redis.conf

# Extras
.DS_Store
*.md